<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Scrapper</title>
</head>
<body>
    <h1>원하는 직업을 찾아드립니다!</h1>
    <h4>어떤 직업을 찾으시나요?</h4>
    <form action ="/검색"> 
        <!-- 여기서 action은 데이터가 전송될 url을 지정하는 것이다 ex) /검색?keyword=파이썬 이렇게 실행된다 -->
        <input type="text" name="keyword" placeholder="원하는 직종을 작성해주세요."/>
        <button>검색</button>
    </form>
    <!-- <h1>Hello to you my name is {{name}}</h1> -->
</body>
</html>
